<div class="christmas">
    <div class="christmas__wrap">
        <p class="christmas__title">Christmas Carol Service</p>
        <p class="christmas__subtitle">
            Monday 3rd December<br />
            Holy Trinity Church (next to Beit Quad)<br />
            Doors open from 6pm
        </p>
        <div class="christmas__description-wrapper">
            <p class="christmas__description">
                <span class="christmas__fancy">Joy to the world!</span><br/><br/>
                Christmas is near! But what is Christmas really about? Join us at our annual
                Christmas carol service to find out, als0 featuring carols by the Imperial College
                Gospel Choir and free mince pies with mulled wine. Doors open at 6pm. Food and drink
                are served at 7:30pm.
            </p>
        </div>
        <p class="christmas__fancy">All welcome</p>
        <a href="http://iccu.co.uk/christmas">
            <button class="christmas__button">Facebook event</button>
        </a>
    </div>
  </div>