<div class="eventsweek">
  <div style="display: flex; flex-direction: row; justify-content: center;">
    <div style="display: grid; justify-items: center; align-content: center; padding: 1rem">
      <h2 class="eventsweek_title">Real life, real Jesus?</h2>
      <h2 class="eventsweek_title">ICCU Events Week 2020</h2>
      <h1 class="eventsweek_date">27 - 31 Jan</h1>
      <a style="margin: 2rem;" href="/real">
        <button class="eventsweek__button">Whats on?</button>
      </a>
    </div>
    <img src="assets/img/real-logo.png" class="eventsweek_logo">
  </div>
</div>